@import 'tailwindcss';

@theme {
  /* Fonts */
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);

  /* Colors */
  --color-brand-primary: #0156ff;
  --color-text-primary: #1a1a1a;
  --color-status-success: #78a962;
  --color-text-secondary: #666666;
  --color-text-tertiary: #a2a6b0;
  --color-background-primary: #f5f7ff;
  --color-border: #acacac;
}
